  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  sup{
      color: red;
      font-size: larger;
  }
  
 
  .container {
    max-width: 100%;
    padding: 16px;
    background-color: white;
  }
  
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  select{
      border: 0.5px lightblue black;
      border-radius: 5px;
      font-size: small;
      padding: 5px 20px;
  }
  
  hr {
    border: 5px solid #00000;
    margin-bottom: 25px;
  }
  
  
  .registerbtn, .resetbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover, .resetbtn:hover {
    opacity: 1;
  }